<center><div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6 meta">
        <h3>Some useful sites</h3>
        <hr class="style18"/>
        <a class="useful" href="https://github.com">Github </a> - A repository based hosting website
        <br>
        <a class="useful" href="http://stackoverflow.com">StackoverFlow</a> - A Q&A for programmers
        <br>
        <a class="useful" href="https://wordpress.org">Wordpress</a> - Create your website in less than a minute!
      </div>
      <div class="col-md-6 meta">
        <h3>Some useful social media</h3>
        <hr class="style18"/>
        <a class="useful" href="https://linkedin.com">LinkedIn </a> - A social media for professionals
        <br>
        <a class="useful" href="http://www.instagram.com">Instagram</a> - A popular photo-sharing app for smartphones
        <br>
        <a class="useful" href="https://twitter.com/">Twitter</a> - A free social networking microblogging service
      </div>
    </div>
    <br><br><br>
    <div class="row"><div class="col-md-12"><h4>Made with &hearts; by Ehsan </h4><br><br>
    </div></div>
  </div>
</div>
</center>